/* 主体通用设置 */
html,body{
	margin:0;
	padding:0;
    font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Helvetica,Arial,Hiragino Sans GB,sans-serif;
    height:100%;
    font-size: 75%;
    line-height: 1.5;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:#fff;
}
ul{
    list-style: none;
}
input{
    font-family: inherit;
}
.header {
    width: 100%;
}
.container {
	width: 1000px;
    margin: 0 auto;
}
.container img {
    width: 280px;
    margin-top: 15px;
}
.section {
    width: 1000px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
}
.box {
    position: relative;
    /* background: #000 url(../images/74.jpg) no-repeat 50% 100%; */
    height: 410px;
    margin-bottom: 40px;
    padding: 0;
}
/* 注册框 */
.signin {
    width: 630px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    left: 0px;    
    border:2px solid #ccc;
    box-sizing: border-box;
}
.sign-title {
    height: 44px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    margin-bottom: 10px;
}
.sign-title h2 {
    font: 400 24px/44px 'Microsoft Yahei';
    color: #1566c0;
}
.list-item{
    height: 51px;
    font-size: 116.66667%;
    margin-bottom: 10px;
}
.list-item .text{
   display:block;
   width:145px;
   height:32px;
   text-align: right;
   font-size: 14px;
   line-height: 32px;
   float: left;
}
.list-item .text span{
    color:#f00;
    margin-right:-3.5px;
}
.list-item  .inp{
    display:block;
    float:left;
    margin-left:2px;
}
.list-item  .inp input{
    width: 288px;
    height: 26px;
    line-height: 26px;
    padding: 1px 4px;
    border:1px solid #ccc;
    padding:1px 4px;
    letter-spacing: 1px;
}
.list-item  .inp a{
    color:#0563c3;
    text-decoration: none;
    font-size:14px;
    margin-left: 3px;
    margin-right: 3px;
}
#discode{
    background:#ddd;
    display:inline-block;
    width:65px;
    height:30px;
    text-align: center;
    font-size:14px;
    line-height: 30px;
}
.list-item a{
    color:#0563c3;
}
.reg .check{
    margin-top:8px;
    float:left;
}
.list-item .label{
    height:32px;
    line-height: 32px;
    font-size: 14px;
    float:left;
    margin-left:10px;
    margin-right:15px;
}
.botton a{
    display:block;
    float: left;
    width:80px;
    height:37px;
    line-height: 37px;
    text-align: center;
    background-image: linear-gradient(#fc5910,#fc4f07);
    font-size: 14px;
    color:#fff;
}
.signup-aside{
    margin-left:655px;
    border-left:1px dotted #ccc;
    padding:40px 20px 170px 25px;
}
.signup-aside .descrip {
    font-size: 14px;
    line-height: 40px;
}
.signup-aside a{
    text-align: center;
    display:block;
    color:#fff;
    font-size: 16px;
    background-image: linear-gradient(#e2232c,#ca1823);
    width:142px;
    height:42px;
    line-height: 42px;
}
