html,body{
	margin:0;
	padding:0;
    font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Helvetica,Arial,Hiragino Sans GB,sans-serif;
    height:100%;
    font-size: 75%;
    line-height: 1.5;
}
ul,li {
	margin: 0;
	padding: 0;
    display: block;
}
h3 {
    margin: 0;
    font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Helvetica,Arial,Hiragino Sans GB,sans-serif;
}
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #666;
}
div,dl{
	display: block;
}
dd {
    margin-inline-start: 0px;
}
img:hover{
    filter:opacity(70%);
}
.col-md-3, .col-sm-6 {
    position: relative;
    min-height: 1px;
    float: left;
}
.container {
	width: 1226px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container::before , .container::after , .clearfix::before , .clearfix::after {
    content: '';
    display: table;
}
.container::after , .clearfix::after  {
    clear: both;
}
.footer1 {
    background-color: #f9f9f9;
    width: 100%;
    height: 195px;
    position:  relative;
}
.footer1 .inner_wrap {
    width: 1225px;
    margin: 0 auto;
}
.inner_wrap {
    padding: 20px 0;
    height: auto;
}
.footer1 .inner_wrap .helper-item {
    float: left;
    width: 160px;
}
.footer1 .inner_wrap .helper-item a img {
    border: 0 none;
}
.footer1 .inner_wrap .helper-item  .content-list {
    margin: 0;
}
.content-list .content-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-list .content-title a {
    color: #333;
}
.content-list .node-index {
    line-height: 24px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.content-list .node-index a {
    color: #555;
} 
.footer2 {
    background-color: #FFF;
}
.footer2 .inner_wrap2 {
    text-align: center;
    padding: 10px 0;
    color: #cccccc;
    line-height: 24px;
    width: 1225px;
    margin: 0 auto;
}
