*{
    padding:0;
    margin:0;
}
body {
    font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Helvetica,Arial,Hiragino Sans GB,sans-serif;
}
body {
    font-size: 75%;
    line-height: 1.5;
    height:2000px;
}
a{
    color:#666;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#topbar{
    height:32px;
    line-height:32px;
    background-color:#f7f7f7;
}
.inner-wrap2{
    width:1225px;
    margin:0 auto;
}
.inner-wrap2:after{
    content: "\0020";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}
.topbar-left{
    float:left;
}
.topbar-left a{
    margin:0 3px;
}
.topbar-left span{
    margin-left: 4px;
    padding:0;
}
.topbar-right{
    float:right;
}
.topbar-right a{
    margin: 0 3px;
}
#header .inner-wrap2 {
    margin: 20px auto;
    overflow: hidden;
}
.header-left{
    float:left;
    width: 350px;
}
.header-left img{
    margin-top:15px;
}
.header-main{
    float:left;
}
.header-main{
    margin-left: 20px;
    width: 490px;
        margin-top: 25px;
}
.header-main input{
    width: 390px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding:1px;
}
.header-main .x-input{
    border-width: 1px;
    border-color: #ccc;
    padding: 1px;
    border-style: solid;
}
.header-main button{
    height: 34px;
    overflow: hidden;
    border: 0 none;
    background-color: #1a8717;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    width:50px;
}
.header-main button span{
    line-height: 32px;
    border-color: #1a8717;
    background-color: #1a8717; 
    order: 1px solid #ccc; 
}
.header-main button .icon{
    font-size: 14px;
    color: #FFF;
    padding:0 10px;
}
.header-main .hots{
    line-height: 25px;
    color: #666666;
}
.header-right{
    float:right;
    padding-top:10px;
}
#nav{
    border-bottom: 2px solid #8dda3e;
    height: 40px;
}
.nav-left,.nav-main{
    float: left;
}
.nav-right{
    float:right;
}
#nav .nav-left .nav-hand{
    width: 160px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#nav .nav-left .nav-hand a{
    color: white;
    display: block;
    background-color: #46ba11;
}
.nav-main{
    width: 825px;
    margin-left:0;
}
.nav-main li{
    line-height: 40px;
    font-size: 14px;
    float: left;
}
.nav-main li a {
    color: #333;
    display: block;
    padding: 0 20px;
}
.nav-main .active a {
    color: #086303;
    font-weight: bold;
}
.nav-main li a:hover {
    background-color: #66d134;
    color: #FFF;
}
.nav-right{
    width: 240px;
    line-height: 40px;
    text-align: right;
    position: relative;
    z-index: 3;
    text-align: center;
}
.minicart {
    line-height: 40px;
    position: relative;
    z-index: 3;
}
.icon{
    font-family: iconfonts,sans-serif;
    font-style: normal;
}
.minicart .minicart-text{
    height: 40px;
    display: block;
    color: #46ba11;
}
.minicart .minicart-text:hover{
    background-color: #46ba11;
    color: #FFF;
}
.nav-content{
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    line-height: 47px;
    position: absolute;
    width: 160px;
    z-index: 99;
}
.nav-content .nav-content-item{
    position: relative;
    font-size: 14px;
}
.nav-content .nav-content-item a{
    padding-left: 20px;
    padding-right: 10px;
    display: block;
    color: #666666;
    overflow: hidden;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.nav-content .nav-content-item a .text{
    width: 123px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    float: left;
    font-size:14px;
}
.nav-content .nav-content-item a .icon{
    color: #aaaaaa;
    width: 5px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
